html * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}
.info{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 50px;
    width: 40%;
    
}
.info-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}
.info-user img{
    aspect-ratio: 1/1;
    width: 30%;
    border-radius: 16px;
    margin-bottom: 10px;
}
.username{
    color: #4E5150;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}
.place{
    color: #A9A9A9;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.info-account{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: #E5E5E5;
    width: 20%;
    padding: 1rem;
    margin: 10px;
}
.number{
    color: #4E5150;
    font-family: Montserrat ,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text{
    color: var(--gray-4, #BDBDBD);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.posts{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 25px;
    width: 70%;
    height: auto;
    overflow: hidden;
    margin: 70px 0;
}
.posts img{
    border-radius: 12px;
}
.p1{
    position: relative;
    aspect-ratio: 1/1;
}
.p1 img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: inherit;
}
.p2{
    position: relative;
    grid-column: 2 /4;
}
.p2 img{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: inherit;
}
.p3{
    position: relative;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    aspect-ratio: 2/1;
}
.p3 img{
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;

}
.p4{
    position: relative;
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}
.p4 img{
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
}
.p5{
    position: relative;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    aspect-ratio: 1/1;
}
.p5 img{
    position: absolute;
    width: 100%;
    height: inherit;
}
.p6{
    position: relative;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.p6 img{
    position: absolute;
    width: 100%;
    height: inherit;
}

footer{
    
    
    width: 100%;
    text-align: center;
    
    padding: 20px;
}
footer div{
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
footer div a{
    text-decoration: none; /* Remove underline */
    color: inherit;
}